    <div class="container">
      <p><a class="btn" href="/dicom?refresh=true">Refresh server list</a></p>
      <table>
        <tr>
        <% categories.each do |category| %><th>
          <%= category %>
        </th><% end %>
        <th>Download</th>
        </tr>
        <% examinations.each_with_index do |examination, index| %><tr>
          <% examination.each_with_index do |field, col| %><td><a href="/dicom/<%= cryptographic_hashes[index] %>">
          <%= field %>
          </a></td><% if col == (examination.size - 1) %><td>
            <a class="btn" href="/dicom/<%= cryptographic_hashes[index] %>/file/<%= cryptographic_hashes[index] %>.dcm">Download</a>
          </td><% end %><% end %>
        </tr><% end %>
      </table>
    </div> <!-- /container -->